/* PC */
@media (min-width: 1024px) {
    
}

/* Mobile, Tablet */
@media (max-width: 1023px) {
    .btn{
        padding: 15px 16px;
        font-size: 16px;
    }

    .form-around .form-control {
        padding: 16px 12px;
        width: 100%;
        font-size: 15px;
    }

}

/* Tablet */
@media (max-width: 1023px) and (min-width : 740px) {

    .contact-info {
        line-height: 2;
        padding-top: 18px;
    }

    .form-around .form-control {
        width: 100%;
        margin-left: 2px;
    }

    #footer i[class*="ti-"]{
        font-size: 30px;
        padding: 12px;
    }

    #footer .copy-right a{
        font-size: 24px;
    }
}

/* Mobile */
@media (max-width: 739px) {
    
    .s-width-ful{
        width: 100% !important;
    }

    .s-col-ful{
        width: 100% !important;
    }

    #header{
        overflow: hidden;
    }

    #header .menu-mobile{
        display: block;
    }

    #header .search-btn {
        display: none;
    }

    #nav{
        display: block;
    }

    #nav>li:first-child {
        display: inline-block;
    }

    #nav>li {
        display: block;
    }

    #nav .subnav {
        position: initial;
    }

    #content .img-member{
        width: 60%;
    }

    .mobile-email{
        margin-top: 8px;
    }
    
    .mobile-name{
        margin-top: 20px;
    }

    .contact-info {
        line-height: 1.8;
    }

    .btn{
        margin: auto;
    }


    #footer i[class*="ti-"]{
        font-size: 20px;
        padding: 12px;
    }
}