@media (min-width: 1024px) {
    
}

@media (max-width: 1023px) and (min-width : 740px) {
    
}

@media (max-width: 739px) {
    
    .s-width-ful{
        width: 100% !important;
    }

    .s-col-ful{
        width: 100% !important;
    }

    #header{
        overflow: hidden;
    }

    #header .menu-mobile{
        display: block;
    }

    #header .search-btn {
        display: none;
    }

    #nav{
        display: block;
    }

    #nav>li:first-child {
        display: inline-block;
    }

    #nav>li {
        display: block;
    }

    #nav .subnav {
        position: initial;
    }

    #content .img-member{
        width: 60%;
    }

    .mobile-email{
        margin-top: 8px;
    }
    
    .mobile-name{
        margin-top: 20px;
    }

    .form-around .form-control {
        padding: 16px 12px;
        width: 100%;
        font-size: 15px;
    }

    .btn{
        margin: auto;
        padding: 12px 16px;
    }

}