@media (min-width: 1024px) {
    
}

@media (max-width: 1023px) and (min-width : 740px) {
    
}

@media (max-width: 739px) {
    
    .s-col-ful{
        width: 100%;
    }

    #header{
        overflow: hidden;
    }

    #header .menu-mobile{
        display: block;
    }

    #header .search-btn {
        display: none;
    }

    #nav{
        display: block;
    }

    #nav>li:first-child {
        display: inline-block;
    }

    #nav>li {
        display: block;
    }

    #nav .subnav {
        position: initial;
    }

    #content .img-member{
        width: 60%;
    }

}